<!DOCTYPE html>
<html>
<head>
  <title>veterinaria</title>
  <meta charset="UTF-8">

<style>
p,h6{
      font-family:Arial;
      color:#F11A13;
      font-size:15px;
    }
</style>

</head>
<body>
  <h6>Harry potter y la piedra filosofal</h6>
  <p>En el primer capítulo de Harry Potter y la piedra filosofal, se nos presenta a la familia Dursley, al parecer algunas horas después de la derrota de Voldemort. Viven en el número cuatro de Privet Drive, Little Whinging, Surrey y estaban orgullosos de decir que eran perfectamente normales. Vernon Dursley es el director en una empresa llamada Grunnings que fabrica taladros. Petunia Dursley, su esposa, es una ama de casa que se preocupa en exceso por su hijo Dudley y también chismea y habla mal de los vecinos. Petunia tenía una hermana que se casó con James Potter, pero eran tan diferentes a los Dursley que ni siquiera se hablaban. Los Dursley se levantan un martes preparados para un día normal. Pero Vernon al dirigirse a su trabajo, se dio cuenta de muchas cosas extrañas durante todo el día. Le pareció ver a un gato leyendo un mapa fuera de su casa, y gente extraña se encontraba en las calles vestidas con túnicas, hablando de alguien que lo llamaban "quien-tu-sabes" y de su sobrino Harry Potter. Vernon regresó a su casa y le preguntó a Petunia acerca de los Potter, pero a ella nunca le gustó hablar de ellos por lo que no le siguió el tema. Después de ver un reportaje que hablaba sobre el avistamiento de lechuzas volando durante todo el día y además de cientos de estrellas fugaces por la noche, los Dursley se fueron a la cama. En su calle, un hombre apareció de la nada. Su nombre era Albus Dumbledore, y aguardaba la llegada de Rubeus Hagrid..</p>
</body>
</html>