<!DOCTYPE html>
<html>
<head>
  <title>veterinaria</title>
  <meta charset="UTF-8">
<style>
h1 em {
  color:#dddddd;
h1 em {
  color:#E72409;
}
}
h2 em {
  color:cccccc;
}
h3 em {
 color:#bbbbbb;
}
h4 em {
  color:#aaaaaa;
}

h5 em {
  color:#999999;
}
h6 em {
  color:#888888;
}
</style>
</head>
<body>
<h1>veterinaria <em>servicios</em></h1>
<h2>veterinaria <em>servicios</em></h2>
<h3>veterinaria <em>servicios</em></h3>
<h4>veterinaria <em>servicios</em></h4>
<h5>veterinaria <em>servicios</em></h5>
<h6>veterinaria <em>servicios</em></h6>
</body>
</html>