<!DOCTYPE html>
<html>
<head>
  <title>veterinaria</title>
  <meta charset="UTF-8">
  <link rel="StyleSheet" href="estilos.css" type="text/css">
</head>
<body>
<h1>Titulo nivel 1.</h1>
<h2>Titulo nivel 2.</h2>
<h3>Titulo nivel 3.</h3>
</body>
</html>
h1 {
    border-width:2px;
    border-style:solid;
    border-color:#0000ff;
  }
  
  h2 {
    border-width:2px;
    border-style:dashed;
    border-color:#0000ff;
  }
  
  h3 {
    border-width:2px;
    border-style:dotted;
    border-color:#0000ff;