<!DOCTYPE html>
<html>
<head>
  <title>veterinaria</title>
  <meta charset="UTF-8">
  <link rel="StyleSheet" href="estilos.css" type="text/css">
</head>
<body>
<h1>veterinaria Happy pet´s dog</h1>
<h2>especificaciones de la veterinaria</h2>
<p>seguridad y salud de los pacientes, estado del seguimiento.</p>
<p>beneficios de realizar los seguimientos correspondientes.</p>
<p>vacunación, depara citación, análisis de sangre.</p>
<p>peluquería, mantenimiento y cuidado de la piel .</p>
</p>
</body>
</html>
h1 {
    font-family:Helvetica;
    color:#0321FA;
    text-align:center;
  }
  
  h2 {
    font-family:Helvetica;
    color:#F64A32;
  }
  
  p {
    text-indent:10px;
    color:#0a0808;
    word-spacing:4px;
    letter-spacing:2px;
  }