<!DOCTYPE html>
<html>
<head>
  <title>veterinaria</title>
  <meta charset="UTF-8">

<style>
h6,p {
  font-size:12;
}
h6 {
  color:#0000ff;
}
p {
  color:#aaaaaa;
}
</style>

</head>
<body>
<h6>veterinaria</h6>
<p>veterinaria es una rama de la medicina.</p>
</body>
</html>