<!DOCTYPE html>
<html>
<head>
  <title>veterinaria</title>
  <meta charset="UTF-8">
<style>
h1 {
  letter-spacing:8px;
  word-spacing:12px;
}
h2 {
  letter-spacing:10px;
  word-spacing:8px;
}
h3 {
  letter-spacing:6px;
  word-spacing:4px;
}
h1, h2, h3 {
  text-transform:uppercase;
}
</style>
</head>
<body>
<h1>veterinaria</h1>
<h2>vacunación</h2>
<h3>deparacitacion</h3>
</body>
</html>