<!DOCTYPE html>
<html>
<head>
  <title>veterinaria</title>
  <meta charset="UTF-8">
<style>
h1 {color:##ff0000;background-color:#3405BC}
h2 {color:##ff0000;background-color:#42BC05}
h3 {color:##ff0000;background-color:#05BCA9}
h4 {color:##ff0000;background-color:#891AB9}
h5 {color:##ff0000;background-color:#0C8B9B}
h6 {color:##ff0000;background-color:#70E69D}
</style>

</head>
<body>

<h1>salud y bienestar</h1>
<h2>veterinaria</h2>
<h3>tratamiento</h3>
<h4>alimentación</h4>
<h5>estilización</h5>
<h6>vacunacion</h6>

</body>
</html>